### VisualStudioCode template
.vscode/
# Environments
.venv
venv/
ENV/
.ipython/
.env
.envs/*
!.envs/.local/

.pytest_cache/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class